/* .google_map_infobox
/* {
    background: #fff;
    padding: 1em;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
    border: 1px solid #666;
} */

/* {
  /* map: map,
      content: '<div class="mylabel">The label</div>', */
      /* position: new google.maps.LatLng(-32.0, 149.0), */
      /* background-color: white;
      border-radius: 8px;
      box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
      font-size: 13px;
      font-weight: 300;
      padding: 80px; */
      /* padding: "0px";
      width: "252px";
      height: "40px";

} */ */ */


.gm-style .gm-style-iw-t::after {
  display: none;
}

.gm-style-iw.gm-style-iw-c {
  padding: 0;
}

.gm-style-iw-d {
  overflow: hidden !important;
}

.info-box-wrap {
  background:#fff;
  overflow: hidden;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);
 
}
.info-box-text-wrap {
  height:40px !important;
  width:150px;
  float:left;
  overflow: hidden;
}
/* .action-btns {
  float:left;
  width:70px;
  overflow: hidden;
  position: relative;
  top:12px;
  left: 6px;
}
.action-btns i {
  font-size: 18px;
  color: #78A737;
  margin-left: 3px;
}
.action-btns i:hover {
  transition: color 0.5s ease;
  color:#ccc;
  cursor: pointer;
} */
/* .action-btns i.fa-heart-o {
  font-weight: bold;
} */
.info-box-text-wrap h6.name {
  padding:6px 5px 1px 0;
  margin:0 0 0 0;
  font-family:"Roboto Slab";
  font-size: larger;
  color: #0c99c8;
  font-weight: 700;
  overflow: hidden;
  text-overflow:clip;
  text-align: center;
  white-space: nowrap;
}
.info-box-text-wrap p {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
.info-box-text-wrap p.address {
  /* color:#B25B00;*/
  font-size: larger; 
  font-weight: bolder;

  position: absolute;
width: 219px;
/* height: 70px; */
left: 40px;
top: 50px;
;


color: #000000;
}
 
.info-box-wrap  img {
  width:100 !important;
  height:80px;
  float:left;
  margin-right: 10px;
  padding-top:0;
  margin-top:0;

  /* position: absolute; */
  /* left: -1000%;
  right: -1000%;  */
  /* top: -1000%;
  bottom: -1000%;
  margin: auto;
  /* min-height: 100%;
  min-width: 100%; */
}

/* .info-box-wrap imgbox{
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 10px;
  position: relative;
} */

h1{

  top: 1rem;
  /* left: 1rem; */
  z-index: 10;
  margin: 0;
  padding: 0;
}