@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Merriweather&display=swap"); */
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Merriweather", serif;
  /* font-family: "Comic Neue", cursive; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
